@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root {
  /* colors*/

  /* primary */

  --Orange: hsl(26, 100%, 55%);
  --Pale-orange: hsl(25, 100%, 94%);

  /* neutral */
  --Very-vark-blue: hsl(220, 14%, 13%);
  /* p */
  --Dark-grayish-blue: hsl(220, 9%, 45%);
  --Grayish-blue: 220 14% 75%;
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%)/.75;

  /*font-sizes*/
  --fs-p: 16px;
  --line-height-p:26px;

  /* h1 */
  --fs-h1:44px;
  --line-height-h1: 48px;
 
  
  /* price */
  --fs-h3:28px;
  --line-height-h3:35px;

 /* subline */
  --fs-sub: 13px;
  --line-height-sub: 16px;
  --letter-space-sub:2px;

  /* discount */
  --line-height-discount: 20px;

  /* font weight */

  --fw-400: 400;
  --fw-700: 700;

  /* font-families */

  --ff-kumbh-sans: 'Kumbh Sans', sans-serif;
}

/* root responsiveness */

/* mobile */

@media (max-width: 500px) {
  :root {
     /* h1 */
  --fs-h1:28px;
  --line-height-h1: 32px;
   /* subline */
   --fs-sub: 12px;
   --line-height-sub: 15px;
   --letter-space-sub:1.8px;
   /* p */
   --fs-p: 15px;
   --line-height-p:25px;

  }
}



/* ------------- */
/* Reset         */
/* ------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset Margins    */

body,
h1,
h2,
h3,
p,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-weight: var(--fw-400);
}

/* Remove list styles on ul, ol elements with a list role,
 which suggests default styling will be removed */

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Set core root defaults */

html:focus-within {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

h1{
  font-size: var(--fs-h1);
  font-weight: var(--fw-700);
  line-height: var(--line-height-h1);
  color: var(--Very-vark-blue);
}



body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: var(--line-height-p);
  font-family: var(--ff-kumbh-sans);
  font-size: var(--fs-p);
  font-weight: var(--fw-400);
  background-color: var(--White);
  color: var(--Dark-grayish-blue);

  /* to strech out elements */

  display: grid;
 
}

#__next {
  min-height: 100vh;
  
}

/* Make images easier to work with */

img,
picture {
  max-width: 100%;
  display: block;
}
figure{
  margin:0;
}

/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------- */
/* Utility Classes  */
/* ------------- */

/* general */

/*flex*/

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

/*grid*/

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}
.d-block {
  display: block;
}

.d-none {
  display: none;
}

/* 
or * + * 
or *:not(:first-child)
*/
.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
  /* outline: 1px solid red; */
}

.flow--space-small {
  --flow-space: 0.5rem;
}

.main-body {
  height: 100%;
  display: grid;
  grid-template-rows: min-content auto;
  position: relative;
  row-gap: 2rem;
}

.container, .container-main {
  padding-inline: 5em;
  margin-inline: auto;
  max-width: 80rem;
}


/* for visually imapaired */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

* :focus:not(:focus-visible) {
  /* undo all the above focus styles */
  outline: 0;
  outline-offset: 0.25rem;
}


* :focus-visible { 
  /* some even *more* exciting button focus styles, just for keyboard navigators */
  outline: 0.25em #AA2B2B dashed;
  outline-offset: 0.25rem;

}
/* reponsiveness */

/* mobile & tablet */
@media (max-width: 1000px) {
  .container {
    padding-inline: 2rem;
   
  }

}

/* mobile */
@media (max-width: 500px) {
  .container-main{
    padding-inline:0;
  }
  .main-body{
    row-gap: 0;
  }
 
}




.lightbox {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  align-items: center;
  justify-items: center;
  padding: 0.4rem; 

  
}

/* trigger image */

.trigger-pic-container {
  width: 80%;
  display: flex;
  justify-content: center;
  position: relative;
}

.trigger-pic-container > .slide-image-btn {
  background-color: transparent;
  width: 100%;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.trigger-pic-container > .slide-image-btn > span {
  width: 100%;
  border-radius: 15px;
  width: 100% !important;
  transition: all 0.3s ease-in-out;
}

/* btn prev & next */

.prev-btn{
  left: -3%;
}
.next-btn{
  right: -3%;
}
.prev-btn, .next-btn{
  position: absolute;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  top: 45%;
  cursor: pointer;
  border: none;
  display: grid;
  justify-content: center;
  align-items: center; 
  z-index: 20;
  display: none;
  
}
.prev-btn >  span , .next-btn > span{
filter: brightness(0);
}
.prev-btn:hover >  span , .next-btn:hover > span{
  filter: brightness(100%);
}



/* thumnail media */

.thumb-carousel{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  gap:1rem;

}

.thumb-carousel > li {
  background-color: white;
  border-radius: 12px;
}

.thumb-carousel > li > span {
  vertical-align: middle;
  cursor: pointer;
  border-radius: 10px;
  height: 100%!important;
}
.thumb-carousel > li:hover > span {
  filter: opacity(0.8);
}

.active > span {
  filter: opacity(0.4);
}
.active {
  border: 2px solid var(--Orange) !important;
  border-radius: 12px;
}

@media screen and (max-width: 1000px) {

  .prev-btn, .next-btn{
    display: block;
  }
  .prev-btn{
    left: .5rem;
  }
  .next-btn{
    right:.5rem;
  }
 
  
}
@media (max-width: 500px){
  .trigger-pic-container{
    width: 100% !important;
  }
  .lightbox {
    padding: 0;
  }
  .trigger-pic-container > .slide-image-btn > span{
    border-radius: 0;
  }
  .thumb-carousel{
    display: none;
  }
}

@media (min-width: 500px) and (max-width: 1000px) {
  .trigger-pic-container{
    width: 80%;
  }
  .thumb-carousel{
    width: 70%;
  }
}

/* modal */

.modal-cover {
  position: fixed;
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100%;
  z-index: 10;
  transform: translateZ(0);
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-area {
  position: fixed;
  display: flex;
  padding: 1rem;
  gap:.5rem;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  -webkit-overflow-scrolling: touch;
}


._modal-close {
  padding: 0.5em;
  line-height: 1;
  background: transparent;
  align-self: end;
  border: 0;
  cursor: pointer;
  filter: brightness(800%);
  position: relative;
  right: 0;
}
._modal-close:hover{
  filter: brightness(100%);
}



.modal-body {
  display: grid;
  justify-items: center;
  row-gap: 1rem;
}
.modal-body > .trigger-pic-container,.modal-body >  .thumb-carousel {
  width: 100%;
  justify-content: center;
}
.modal-body > .trigger-pic-container {
  width: 550px;
}
.modal-body > .trigger-pic-container > .prev-btn, .modal-body >.trigger-pic-container > .next-btn{
  display: block;
}
.modal-body > .trigger-pic-container > .prev-btn{
  left:-1.5rem;
}
.modal-body >.trigger-pic-container > .next-btn{
  right:-1.5rem;
}
._hide-visual {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.scroll-lock {
  overflow: hidden;
}

